<div class="row">
    <h2>商品新規登録</h2>
    <%= form_with(model: @item, url: admin_items_path, method: :post, local: true) do |f| %>
        <div class="col-xs-5">
        	<div class="field">
        		<%= f.label :商品画像 %>
                <%= f.file_field :image %>
        	</div>
        </div>
        <div class="col-xs-7">
            <div class="field">
            	<%= f.label :商品名 %>
            	<%= f.text_field :name, class: "form" %>
            </div>
            <div class="field">
            	<%= f.label :商品説明 %>
            	<%= f.text_area :introduction %>
            </div>
            <div class="field">
            	<%= f.label :税抜価格 %>
            	<%= f.text_field :price %>
            	円
            </div>
            <div class="field">
            	<%= f.radio_button :is_active, true %>
            	<%= f.label :is_active, "販売中" %>
                <%= f.radio_button :is_active, false %>
                <%= f.label :is_active, "販売停止中" %>
            </div>
            <div class="actions row">
            <%#<%= f.hidden_field :id, :value => @item.id %>
    		<%= f.submit "新規登録",class:"btn btn-primary col-xs-12" %>
            </div>
        </div>
    <% end %>
</div>

