<h2>商品詳細</h2>

 <div class="row" style="margin-top:50px;">
	<div class="col-xs-5">
		<%#<%= image_tag(@item, :image,size: "300x217", fallback: "no_image.jpg") %>
		<%= image_tag @item.get_image(300,217) %>
	</div>
	<div class="col-xs-7" style="margin-left:30px;">
		<table class="table">
			<tr>
				<th>商品名</th>
				<th><%= @item.name %></th>
			</tr>
			<tr>
				<th>商品説明</th>
				<th><%= @item.introduction %></th>
			</tr>
			<tr>
				<th>税込価格<br>(税抜価格)</th>
				<th><%= (@item.price * 1.1).to_i %>(<%= @item.price %>)円</th>
			</tr>
			<tr>
				<th>販売ステータス</th>
				<th>
				<% if @item.is_active == true %>
				 販売中
				<% else %>
	       販売停止中
				<% end %>
	      </th>
			</tr>
		</table>
		<div style="margin-left:100px;">
		<%= link_to ' 編集する', edit_admin_item_path(@item), class: "btn btn-success glyphicon glyphicon-wrench pull-right" %>
	  </div>
	</div>
 </div>
