<div class="row">
  <div class="card">
    <img class="card-img" src="/assets/top.png" alt="" width="100" height="400">
    <div class="card-img-overlay">
      <p class="card-text" style="color: #fff; font-size: 18px;">ようこそ、ながのCAKEへ！<br>
						このサイトは、ケーキ販売のECサイトになります。<br>
						会員でない方も商品の閲覧はできますが、<br>
						購入には会員登録が必要になります。</p>
    </div>
  </div>
 </div>
    	
<h2>新着商品</h2>
<div class="row">
  <% @items.each do |item| %>
	<div class="col-3">
		<%= link_to item_path(item) do %>
		<%= image_tag item.get_image(180,130) %>
		<% end %></br>
		<%= link_to item.name, item_path(item) %></br>
		￥<%= (item.price * 1.1).to_i %>
	</div>
	<% end %>
</div>

<div class="row">   
  <div class="navbar navbar-expand-lg navbar-right navbar-nav ml-auto">
    <%= link_to "全ての商品を見る>", items_path %>
  </div>
</div>