<h2><%= "商品一覧 （全#{@items_all.count}件）" %></h2>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-3" style="margin-bottom: 50px;">
        <%= link_to item_path(item) do %>
         <%= image_tag item.get_image(300,180) %>
        <% end %></br>
        <%= link_to item.name, item_path(item) %></br>
        ￥<%= (item.price * 1.1).to_i %>
      </div>
    <% end %>
  </div>
<%= paginate @items %>
