<div class= "row">
  <div class= "col-6">
    <nav class="nav navbar-brand navbar-left header-logo">   
      <%= link_to admin_root_path,class:"header-logo-letter" do %><%= image_tag('logo.png', class: 'admin_shop_logo') %><% end %>
    </nav>
  </div>
    
    <div class= "col-6">
      <ul class="navbar navbar-expand-lg navbar-right navbar-nav ml-auto">
        <li>
          <%= link_to admin_items_path, class: "btn btn-outline-primary" do %>商品一覧<% end %>
        </li>&emsp;
        <li>
          <%= link_to admin_customers_path,class: "btn btn-outline-primary" do %>会員一覧<% end %>
        </li>&emsp;
        <li>
          <%= link_to admin_root_path,class: "btn btn-outline-primary" do %>注文履歴一覧<% end %>
        </li>&emsp;
        <li>
          <%= link_to destroy_admin_session_path,class: "btn btn-outline-primary", method: :delete do %>ログアウト<% end %>
        </li>
      </ul>
    </div>
  </div>
  <%# 検索フォーム %>
  <%#<%= render 'admins/searches/search' %>
</div>